@model IEnumerable<ASP.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["CreateSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["CreateSuccess"]
    </div>
}

@if (TempData["EditSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["EditSuccess"]
    </div>
}

@if (TempData["DeleteSuccess"] != null)
{
    <div class="alert alert-success">
        @TempData["DeleteSuccess"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.profilepictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.profilepictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
